html, body{
    height:100%;
    width:100%;
}

#map{
    height:100%;
    width:100%;
    position:absolute;
}

ul {
    list-style-type: none;
    margin:0;
    padding:0;
}

.marker {
    background-color:red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.navbar{
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
}

.navbar-brand{
    background-position: center;
}

#current-location{
    background-color:rgba(74, 217, 134, 1);
    height:50%;
}

#plotted-location{
    background-color:rgba(74, 217, 134, 1);
    height:50%;
}

#store-select{
    background-color:rgba(34, 242, 121, 1);
}

#results{
    background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
}

h3{
    letter-spacing:3px;
    font-family:verdana;
}
