html, body{
    height:100%;
    width:100%;
}

#map{
    height:100%;
    width:100%;
    position:absolute;
}

ul {
    list-style-type: none;
    margin:0;
    padding:0;
}

.marker {
    /*background-image:url("circle.png");*/
    /*background-size: cover;*/
    background-color:red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.navbar{
    background-color:rgba(34, 242, 121, 0.8);
}

.navbar-brand{
    background-position: center;
}

#current-location{
    background-color:rgba(74, 217, 134, 1);
    height:50%;
}

#plotted-location{
    background-color:rgba(74, 217, 134, 1);
    height:50%;
}

#store-select{
    background-color:rgba(34, 242, 121, 1);
}

#results{
    
    background-color:rgba(34, 242, 121, 1);
}
